*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-background);
  color: var(--color-text);
  /* rem vw vh */
  width: 100vw;
  /* font-size: 1.6rem; */
}
img {
  width: 100%;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  text-decoration: none;
  color: #666;
}
button{
  border: none;
}
.clearfix::after {
  clear: both;
  display: block;
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
